{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Generador de filtros</h1>
    <p class="lead">
       <h6>201503393  Jose Daniel De Leon </h6>
       <h6>201504303  Jorge Daniel Monterroso </h6>
    </p>

    <hr>
    <hr>
    
    <h4>Ingrese los datos del filtro</h4>

    <div>
      <form action="entrenar" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Frecuencia de corte: </label>
          <input type="number" id="frec" name="frec">
        </div>
        <div class="form-group">
          <label>Tipo de filtro: </label>
          <select id="tipo" name="tipo">
              <option value="1">Pasa bajos</option>
              <option value="2">Pasa altos</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Generar</button>
      </form>
    </div>

    <br>

    <div>
      <table>
          <tr>
              <td> {{sol[0]}} </td>
              <td> {{sol[1]}} </td>
              <td> {{sol[2]}} </td>
              <td> {{sol[3]}} </td>
              <td> {{sol[4]}} </td>
              <td> {{sol[5]}} </td>
          </tr>
          <tr>
              <td> {{sol[6]}} </td>
              <td> {{sol[7]}} </td>
              <td> {{sol[8]}} </td>
              <td> {{sol[9]}} </td>
              <td> {{sol[10]}} </td>
              <td> {{sol[11]}} </td> 
          </tr>
          <tr>
              <td> {{sol[12]}} </td>
              <td> {{sol[13]}} </td>
              <td> {{sol[14]}} </td>
              <td> {{sol[15]}} </td>
              <td> {{sol[16]}} </td>
              <td> {{sol[17]}} </td> 
          </tr>
      </table>
    </div>

    <hr>
    <hr>

    <h4>Probar filtro</h4>

    <div>
      <form action="probar" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Datos a filtrar: </label>
          <input type="file" name="archivo" class="form-control" value={{request.form.archivo}}>
        </div>
        <button type="submit" class="btn btn-primary">Filtrar</button>
      </form>

    </div>
  </div>
{% endblock %}
